---
hide:
    - toc
---
<style>
  .md-content__button {
    display: none;
  }
</style>

# Technology Leader, Engineer at Heart, Continuous Learner


<div class="portrait">
    <img src="./img/portrait1.drawio.svg">
</div>


# Recent Activity
<section class="grid">
    {% for article in configs%}
    <div class="card" style="width: 15rem;">
        <div class="card-img">
            <img src="./img/{{ article.publish_date }}-blog-banner.drawio.svg" alt="{{ article.title }}">
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ article.title }}</h5>
            <h6 class="card-subtitle">{{ article.publish_date.strftime('%B %d, %Y') }}</h6>
            <p class="card-text">{{ article.description[:200] }}...</p>
            <a href="./blog/{{ article.filename }}.html" class="md-button md-button--primary" style="width: max-content;">Read More</a>
        </div>
    </div>
    {% endfor %}
</section>